.navbar-form{
    color: #3298d4;
}

.card img{
    width: 200px;
    height: 150px;

}

.card p{
    line-height: 1.25em;
}

.card {
    min-height: 500px;
}




.container-fluid p{
    max-width: 600px;

}
.container-fluid h4{
    max-width: 600px;
}
#carlos{
    height: 400px;
    width: 100%;

}
#mike{
    height: 400px;
    width: 100%;
}

#anderson {
    height: 400px;
    width: 100%;

}

#brian{
    height: 400px;
    width: 100%;

}
#Artem{
    height: 400px;
    width: 100%;

}

.row{
    background: slategrey;
}

body{
    background: slategrey;
}



.card img{
    border-radius:10px;
}

li {
    padding: 5px;
}







