body {
    background-color: steelblue;
    font-family: "Times New Roman";
}

.main h2 {
    padding-left: 5px;


}

.main p{
    margin-left: 15px;
    padding-left: 150px;
    max-width: 750px;

}


.main img {
    width: 150px;
    float:left;
    padding: 3px;


}

h1 {
    padding-left: 150px;

}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: royalblue; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: blue;
}

/* Style page content */
.main {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.article2{
    margin-left: 250px;
    padding: 0px 10px;
}

.article2 p{
    max-width: 750px;

    margin-left: 15px;
    padding-left: 150px;

}

.article2 img{
    width: 150px;
    height: 125px;
    float: left;

}

.article2 h2{
    padding-top: 5%;

}

.actualArticle1{
    margin-left: 175px;
    padding-top: 150px;
    padding-right: 30px;
}

.actualArticle1 p{
    padding-top: 10px;
    padding-left: 120px;
}
.actualArticle1 img{
    width: 250px;
    float: right;
    padding-top: 15px;
}
.actualArticle1 h3{
    padding-bottom: 50px;
}.form{
    padding-top: 150px;

 }




/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
/*@media screen and (max-height: 450px) {*/
    /*.sidenav {padding-top: 15px;}*/
    /*.sidenav a {font-size: 18px;}*/
/*}*/



