body {
    background-color: steelblue;
    font-family: "Times New Roman";
}
.form{
    padding-bottom: 50px;
}

.main h2 {
    padding-left: 5px;

}

.main p {
    margin-left: 15px;
    padding-left: 150px;
    max-width: 750px;

}

.main img {
    width: 150px;
    float: left;
    padding: 3px;

}

h1 {
    padding-left: 150px;

}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: royalblue; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: blue;
}

/* Style page content */
.main {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.article2 {
    margin-left: 250px;
    padding: 0px 10px;
}

.article2 p {
    max-width: 750px;

    margin-left: 15px;
    padding-left: 150px;

}

.article2 img {
    width: 150px;
    height: 125px;
    float: left;

}

.article2 h2 {
    padding-top: 5%;

}

.actualArticle1 {
    margin-left: 175px;
    padding-top: 150px;
    padding-right: 30px;
}

.actualArticle1 p {
    alignment: left;
    padding-top: 10px;
    padding-left: 120px;
}

.actualArticle1 img {
    width: 250px;
    float: right;
    padding-top: 15px;
    padding-left: 75px;
}

.actualArticle1 h3 {
    padding-bottom: 50px;
}

.form {
    padding-top: 150px;

}

@media only screen
and (min-width: 320px)
and (max-width: 480px) {
    .sidenav {
        position: static;

        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 500px; /* Set the width of the sidebar */

        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #3a4167; /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;

    }

    .article2 {
        margin-left: 0;
    }

}

@media only screen
and (min-width: 320px)
and (max-width: 480px) {
    .main {
        margin-left: 0px;

    }

    .actualArticle1 {
        margin-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
    }

    .actualArticle1 img {
        width: 250px;

        padding-top: 0px;
        padding-bottom: 20px;

        padding-right: 100px;

    }

    .actualArticle1 p {
        alignment: left;
        padding-top: 0px;
        padding-left: 0px;
    }
    h1{
        padding-right: 115px;
    }
    .form {
        padding-bottom: 100px;
        padding-left: 20px;

    }
    .form h3{
        padding-right: 45px;
    }

}
